#weather-table {
  max-width: 32rem;

  color: #eeeeee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 767px){
  #weather-table {
      width: 100%;
    }
}
