.weather {
  width: min-content;
  margin: 2rem auto;
  /* From https://css.glass */
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 2rem;
}
