.content {
  grid-row: content-start / content-end;
  padding: 2rem;
  padding-bottom: 4rem;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  .weather__table {
    height: 100rem;

    overflow: scroll;
  }
}
