#weather-page {
  width: 32rem;
  color: #fff;
  display: grid;

  #weather-page__header {
    color: #424242;

    display: flex;
    flex-direction: column;
    align-items: center;

    #weather-page__location{
      font-size: 1.5rem;
      font-weight: 600;
      padding: 4px 0;
    }
    
    #weather-page__date {
      font-size: 0.8rem;
      font-weight: 600;
      padding: 4px 0;

      align-self: flex-start;
      margin-left: 1rem;
    }
  }

  

  #weather-page__table {
    background-color: #636363;
    border-radius: 1rem;

    #weather-page__table__header {
      padding: 8px;

      border-bottom: rgba(18, 18, 18, 0.3) 1px solid;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      text-align: center;
    }

    .weather-page__rows {
      padding: 8px;

      max-height: 20rem;
      overflow: scroll;
    }

    #weather-page__footer {
      border-top: rgba(18, 18, 18, 0.3) 1px solid;

      padding: 8px;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .weather-page__footer__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
