#weather-page {
  width: 32rem;
  color: #fff;
  display: grid;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba($color: #424242, $alpha: 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 3px;
  }

  #weather-page__header {
    color: #424242;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    #weather-page__location {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  #weather-page__table {
    background-color: #fff;
    border-radius: 1rem;
    border: #017af2 solid 4px;

    display: grid;
    grid-template-rows: min-content 1fr min-content;

    #weather-page__table__header {
      background-color: #017af2;
      padding: 8px;


      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      text-align: center;
    }

    .weather-page__rows {
      padding: 8px;
      color: #424242;

      max-height: 20rem;
      overflow-y: auto;
    }

    #weather-page__table__footer {
      background-color: #017af2;

      padding: 8px;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .weather-page__footer__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  #weather-page__footer {
    color: #424242;

    #weather-page__date {
      font-size: 0.8rem;
      font-weight: 600;
      padding: 4px 0;

      align-self: flex-start;
      margin-left: 1rem;
    }
  }
}
