#footer {
  grid-row: footer-start / footer-end;
  z-index: 3;
  padding: 8px;

  #footer__contribution {
    display: flex;
    justify-content: center;
    gap: 1rem;

    font-size: small;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* #footer__contribution {
    flex-direction: column;
    gap: 0;

    font-size: x-small;
  } */

  #footer {
    padding: 0;

    display: flex;
    justify-content: center;

    padding: 2rem;

    #footer__contribution {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: flex;
    justify-content: center;

    padding: 1rem;

    #footer__contribution {
      display: none;
    }
  }
}
