.current-weather {
  width: 32rem;

  .current-weather__title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

    color: #eeeeee;
  }

  .current-weather__data {
    display: grid;

    /* From https://css.glass */
    background: rgba(18, 18, 18, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(18, 18, 18, 0.3);

    color: #eeeeee;

    .current-weather__data__header {
      width: 100%;
      border-bottom: rgba(18, 18, 18, 0.3) 1px solid;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
    }

    .current-weather__data__row {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
      padding: 4px 0;
    }
  }
}
